header{
    background:#222;
    height:100px;
    font-family: 'Roboto', sans-serif;
}
header .img-responsive{
    width:90px;
    margin:6px 0 0 23%;
}
section .img-responsive{
    display: block;
    margin:auto;
}
.row{
    margin:0;
}
.row>div{
    padding:0;
}
body{
    background:#7F8C8D;
}
.btn{
    border-radius: 0;
}
header .links{
    list-style:none;
    padding:0;
    margin:0;
    float:right;
    margin-top:37px;
}
.form-control,.form-control:focus{
    border-radius: 0;
    box-shadow: none;
}
header .links li{
    display:inline-block;
}
header .links li a,header .links li a:hover,header .links li a:focus{
    color:white;
    padding:2px 6px;
}
header h1{
    color:white;
    font-size:2.1em;
    font-weight:300;
    margin-top:33px;
}
section.container-fluid{
    padding-left:10%;
    padding-right: 10%;
}
section .description p{
    text-align: justify;
}
section .row>div{
    background: white;
    padding:20px;
}
footer{
    background: #111;
    height:35px;
}
footer a,footer a:hover,footer a:focus{
    display: inline-block;
    color:white;
    letter-spacing: 1px;
    padding:8px;
}
@media(max-width:768px){
    header h1{
        font-size:1.2em;
        margin-top:41px;
    }
    header .links li a{
        font-size:.9em;
    }
    header .links li{
        margin-right:0px;
    }
    header .img-responsive{
        margin:0;
        margin-top:8px;
    }
    header .links{
        margin-top:39px;
    }
    section .row>div{
        padding:15px;
    }
    section.container-fluid{
        padding-left:5px;
        padding-right: 5px;
    }
}