<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JSS Students Portal</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/display.css">
	<style>
	</style>
</head>
<body>
	<header class="container-fluid">
		<div class="row">
			<div class="col-xs-3">
				<img src="/static/images/fclogo.png" alt="JSSATEN" class="img-responsive">
			</div>
			<div class="col-xs-6">
				<h1 class="text-center">Student Academic Record</h1>
			</div>
			<div class="col-xs-3">
				<ul class="links">
					{% if user.is_authenticated %}
						<li style="color:white;">Welcome {{ u1.first_name }} {{ u1.last_name }}</li>
						<li><a href="/logout">Logout</a></li>
					{% else %}
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Signup</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</header>
	<section class="container-fluid">
		<div class="row infoContainer">
			<div class="col-sm-12"><h1>Personal Info</h1></div>
			<div class="col-sm-3">
				<p><strong>Name :</strong>{{u1.first_name }} {{ u1.last_name }}</p>
			</div>
			<div class="col-sm-3">
				<p><strong>Email :</strong> {{ u1.email }}</p>
			</div>
			<div class="col-sm-3">
				<p><strong>Website :</strong> <a href="{{ u2.url }}" target="_blank">{{ u2.url }}</a></p></div>
			<div class="col-sm-3">
				<p><strong>Phone :</strong>{{ u2.phno }}</p></div>
		</div>
		<div class="row infoContainer">
			<div class="col-sm-12">
				<h1>Education</h1>
			</div>
			<div class="col-sm-6">
				<p><strong>10th Class</strong></p>
				<div class="row">
					<div class="col-xs-6"><p><strong>Score :</strong>{{ u2.t10thPercent }}</p></div>
					<div class="col-xs-6"><p><strong>From :</strong>{{ u2.t10thSchool }}</p></div>
				</div>			
			</div>
			<div class="col-sm-6">
				<p><strong>12th Class</strong></p>
				<div class="row">
					<div class="col-xs-6"><p><strong>Score :</strong>{{ u2.t12thPercent }}</p></div>
					<div class="col-xs-6"><p><strong>From :</strong>{{ u2.t12thSchool }}</p></div>
				</div>
			</div>
			<div class="col-sm-12">
				<p><strong>{{ u2.branch }}</strong></p>
				<div class="row">
					<div class="col-sm-3"><p><strong>1st Semester:    </strong>{{ u2.btechmarks.0 }}%</p></div>
					<div class="col-sm-3"><p><strong>2nd Semester:    </strong>{{ u2.btechmarks.1 }}%</p></div>
					<div class="col-sm-3"><p><strong>3rd Semester:    </strong>{{ u2.btechmarks.2 }}%</p></div>
					<div class="col-sm-3"><p><strong>4th Semester:    </strong>{{ u2.btechmarks.3 }}%</p></div>
					<div class="col-sm-3"><p><strong>5th Semester:    </strong>{{ u2.btechmarks.4 }}%</p></div>
					<div class="col-sm-3"><p><strong>6th Semester:    </strong>{{ u2.btechmarks.5 }}%</p></div>
					<div class="col-sm-3"><p><strong>7th Semester:    </strong>{{ u2.btechmarks.6 }}%</p></div>
					<div class="col-sm-3"><p><strong>8th Semester:    </strong>{{ u2.btechmarks.7 }}%</p></div>
				</div>
			</div>
		</div>
		<div class="row infoContainer">
			<div class="col-sm-12">
				<h1>Skills</h1>
			<div class="col-sm-12" style="padding-left:0">
				<ul class="skills">
				{% for i in u2.skillsSet %}
					<li>{{ i }}</li>
				{% endfor %}
				</ul>
			</div>
			</div>
		</div>
		<div class="row infoContainer">
			<div class="col-sm-12">
				<h1>Projects</h1>
			</div>
			{% for i,j in projects %}
			<div class="projects col-sm-12">
				<h2>{{ i }}</h2>
				<p>{{ j }}</p>
			</div>
			{% endfor %}
		</div>
		<div class="row infoContainer">
			<div class="col-sm-12">
				<h1>Experience and Interns</h1>
			</div>
			<div class="col-sm-12">
				<ul>
				{% for i in u2.expDesc %}
					<li>{{ i }}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row infoContainer">
			<div class="col-sm-12">
				<h1>Intrests</h1>
			</div>
			<div class="col-sm-12">
				<ul class="intrests">
				{% for i in u2.interestDesc %}
					<li>{{ i }}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row infoContainer">
			<div class="col-sm-12">
				<h1>Achievements</h1>
			</div>
			<div class="col-sm-12">
				<ul>
				{% for i in u2.achieveDesc %}
					<li>{{ i }}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	<footer class="container-fluid text-center">
		<a href="javascript:">About Us</a>
	</footer>
</body>
</html>