<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JSS Students Portal</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/display.css">
	<style>
	</style>
</head>
<body>
	<header class="container-fluid">
		<div class="row">
			<div class="col-xs-3">
				<img src="/static/images/fclogo.png" alt="JSSATEN" class="img-responsive">
			</div>
			<div class="col-xs-6">
				<h1 class="text-center">Student Academic Record</h1>
			</div>
			<div class="col-xs-3">
				<ul class="links">
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Signup</a></li>
				</ul>
			</div>
		</div>
	</header>
	<section class="container-fluid">
		<div class="row infoContainer">
			<div class="col-sm-12"><h1>Personal Info</h1></div>
			<div class="col-sm-3">
				<p><strong>Name :</strong> Deshraj Yadav</p>
			</div>
			<div class="col-sm-3">
				<p><strong>Email :</strong> deshrajdry@gmail.com</p>
			</div>
			<div class="col-sm-3">
				<p><strong>Website :</strong> <a href="http://www.deshraj.in" target="_blank">http://www.deshraj.in</a></p></div>
			<div class="col-sm-3">
				<p><strong>Phone :</strong> 09555344456</p></div>
		</div>
		<div class="row infoContainer">
			<div class="col-sm-12">
				<h1>Education</h1>
			</div>
			<div class="col-sm-6">
				<p><strong>10th Class</strong></p>
				<div class="row">
					<div class="col-xs-6"><p><strong>Score :</strong> 99% </p></div>
					<div class="col-xs-6"><p><strong>From :</strong> Kendriya Vidyalaya</p></div>
				</div>			
			</div>
			<div class="col-sm-6">
				<p><strong>12th Class</strong></p>
				<div class="row">
					<div class="col-xs-6"><p><strong>Score :</strong> 99% </p></div>
					<div class="col-xs-6"><p><strong>From :</strong> Kendriya Vidyalaya</p></div>
				</div>
			</div>
			<div class="col-sm-12">
				<p><strong>Btech in Computer Science and Engineering</strong></p>
				<div class="row">
					<div class="col-sm-3"><p><strong>1st Semester</strong> 98%</p></div>
					<div class="col-sm-3"><p><strong>2st Semester</strong> 98%</p></div>
					<div class="col-sm-3"><p><strong>3st Semester</strong> 98%</p></div>
					<div class="col-sm-3"><p><strong>4st Semester</strong> 98%</p></div>
					<div class="col-sm-3"><p><strong>5st Semester</strong> 98%</p></div>
					<div class="col-sm-3"><p><strong>6st Semester</strong> 98%</p></div>
					<div class="col-sm-3"><p><strong>7st Semester</strong> 98%</p></div>
					<div class="col-sm-3"><p><strong>8st Semester</strong> 98%</p></div>
				</div>
			</div>
		</div>
		<div class="row infoContainer">
			<div class="col-sm-12">
				<h1>Skills</h1>
			<div class="col-sm-12" style="padding-left:0">
				<ul class="skills">
					<li>Python</li>
					<li>Django</li>
					<li>ElasticSearch</li>
					<li>MongoDB</li>
					<li>Linux</li>
					<li>C++</li>
					<li>Unix Shell Scripting</li>
					<li>OpenCV</li>
					<li>Computer Vision</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>XML</li>
					<li>Javascript</li>
					<li>Windows Mobile</li>
					<li>C</li>
					<li>Mobile Applications</li>
					<li>Networking</li>
					<li>C#</li>
					<li>Mysql</li>
					<li>Git</li>
					<li>Json</li>
					<li>C++</li>
					<li>Shell Scripting</li>
					<li>Objective-C</li>
				</ul>
			</div>
			</div>
		</div>
		<div class="row infoContainer">
			<div class="col-sm-12">
				<h1>Projects</h1>
			</div>
			<div class="projects col-sm-12">
				<h2>VideoLoot - A Youtube Downloader</h2>
				<p>This is a web application that helps the users to download youtube videos in a one step process. Only they need to paste the url and then they can download the video in any quality. I was responsible for developing the backend of this web application. Technologies used are Django Framework, Python Scripting, some python packages like NumPy and Pafy etc, HTML5, CSS3, Javascript and Bootstrap.</p>
			</div>
			<div class="projects col-sm-12">
				<h2>Data Scraping Project for Songs Download</h2>
				<p>This project is for easy downloading of Bollywood Songs. Data is scraped from some popular Songs Website and about database of 50,000 songs is made. It also helps users to get rid of the ads and pop ups and fake download buttons on the websites. SImple click and download facility is there. Technologies used in this project are Python, Scrapy framework, Django framework, HTML5, CSS3, Bootstrap.</p>
			</div>
			<div class="projects col-sm-12">
				<h2>PyUrl Shortner</h2>
				<p>It is a costumized url shortening service that lets the user to get costum shortened url that he wants. The main advantage of this product is the costumisation of shortened urls that gives full freedom to a user to create his won url.</p>
			</div>
			<div class="projects col-sm-12">
				<h2>Image Based Search In Computers</h2>
				<p>This is an Image Processing based project to search the images that exactly look same as another image that user provides and it searches through the whole Computer and gives very accurate results (very similar to the Google Image Search ).Technologies Used : Python, OpenCV, Linux Shell Scripting</p>
			</div>
		</div>
		<div class="row infoContainer">
			<div class="col-sm-12">
				<h1>Experience and Interns</h1>
			</div>
			<div class="col-sm-12">
				<ul>
					<li>Organizer and Developer at GDG</li>
					<li>Organizing Member Nibble Computer Society</li>
					<li>Fratmart Technology Intern</li>
					<li>Take Zero Backend Developer</li>
					<li>Crack the Shell Zealicon-2014 Event Coordinator</li>
				</ul>
			</div>
		</div>
		<div class="row infoContainer">
			<div class="col-sm-12">
				<h1>Intrests</h1>
			</div>
			<div class="col-sm-12">
				<ul class="intrests">
					<li>Coding</li>
					<li>Debugging</li>
					<li>Computers</li>
					<li>New Technologies</li>
					<li>Mobile Phones</li>
					<li>Games</li>
					<li>Reading</li>
				</ul>
			</div>
		</div>
		<div class="row infoContainer">
			<div class="col-sm-12">
				<h1>Achievements</h1>
			</div>
			<div class="col-sm-12">
				<ul>
					<li>First Runner Up at Hack-A-Thon Summer 2014</li>
					<li>First in Cassiopeian Wars</li>
					<li>Second Runner Up in Linux Challenge</li>
					<li>First Runner Up at Junkyard Wars</li>
				</ul>
			</div>
		</div>
	</section>
	<footer class="container-fluid text-center">
		<a href="javascript:">About Us</a>
	</footer>
</body>
</html>