<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Login JSS Students</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
      <form class="form-horizontal" method="post" action="">
      {% csrf_token %}
    <fieldset>
    <!-- Form Name -->
    <!-- Text input-->
    <div class="form-group">
    <br><br><br><br><br><br><br>
      <label class="col-md-4 control-label" for="username">Username</label>  
      <div class="col-md-4">
      <input id="username" name="username" type="text" placeholder="username" class="form-control input-md" required="">
        
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password">Password</label>
      <div class="col-md-4">
        <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">
        
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submitBtn"></label>
      <div class="col-md-4">
        <button id="submitBtn" name="submitBtn" type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>

    </fieldset>
    </form>
    <div>
      <h4><center>Not a member yet. You can <a href="/register"> Signup </a> here.</center></h4>      
    </div> 

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>