<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome buddy</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
  <div class="form-group">
  <div class="col-md-4">
    <button id="logoutbtn" name="logoutbtn" class="btn btn-danger" onclick="logout()">Logout</button>
  </div>
</div>
<script type="text/javascript">
  function logout (argument) {
    window.location="/logout";
    // body...
  }
</script>
<br><br>
    <center><h3>Hey {{user.username}}!<br> Welcome </h3>
    <br><br><br><br><h4>Using this dashboard, you can login and make the changes in your profile as you want ot change.<br>
    This platform will let you to share teh link with the other industries and the internship companies wherevevr you will be applying. This is officially prvided by the JSSATEN College.</h4>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
    </center>
	</body>
</html>